@model CrudEntityFramework.Models.Usuario

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary" style="width:100%;">
    <div class="card-header">
        <h1 class="text-center">Detalle Usuario</h1>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Nombre:</strong> @Html.DisplayFor(m => m.Nombre)
                </li>
                <li class="list-group-item">
                    <strong>Teléfono:</strong> @Html.DisplayFor(m => m.telefono)
                </li>
                <li class="list-group-item">
                    <strong>Celular:</strong> @Html.DisplayFor(m => m.Celular)
                </li>
                <li class="list-group-item">
                    <strong>Email:</strong> @Html.DisplayFor(m => m.Email)
                </li>
            </ul>
        </div>
        <!-- /.card-body -->
    <div>
        <a asp-action="Index">Regresar</a>
    </div>
</div>



